.marg-nav{
    margin-left: 30%;
}
.nav-item{
    margin:0 2% 0 2% ;
   
}
.nav-link{
   
}
.bg-img{
    background: url("/Image/2202758.jpg");
    
}
body{
    background: url("/Image/2202758.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}